# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

#target files for web apps
client-api/target/
object-model/target/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
Jaguar.iml
chat/chat.iml
object-model/object-model.imlo
chat/src/
chat/target/
client-api/src/main/java/com/jaguar/client/
general-api-developer-guide.pdf
lib/
client-api/client-api.iml
